<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head}">
    <title>Board Modify</title>
</head>
<body>
<!-- Header -->
<header th:replace="~{layout/common :: common-header}">
</header>

<!-- Main -->
<div>
    <div>
        <h3>게시물 수정</h3>
    </div>
    <div>
        <form id="form-modify" method="POST" th:action="@{~/board/modify}">
            <input type="hidden" id="id" name="id" th:value="${dto.getId()}">
            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title" maxlength="255" placeholder="제목을 입력해주세요" th:value="${dto.getTitle()}">
            </div>
            <div>
                <label for="writer">작성자</label>
                <input type="text" id="writer" name="writer" maxlength="255" th:value="${dto.getWriter()}">
            </div>
            <div>
                <label for="content">내용</label>
                <textarea id="content" name="content" maxlength="255" placeholder="내용을 입력해주세요" th:text="${dto.getContent()}"></textarea>
            </div>
            <div>
                <button type="button" id="btn-modify">글수정</button>
                <button type="button" id="btn-delete">글삭제</button>
                <button type="button" id="btn-back">뒤로가기</button>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<footer th:replace="~{layout/common :: common-footer}">
</footer>

<!-- Script -->
<script>
    const modifyButton = document.getElementById('btn-modify');
    const deleteButton = document.getElementById('btn-delete');
    const backButton = document.getElementById('btn-back');

    modifyButton.onclick = function() {
        submitForm();
    }

    deleteButton.onclick = function() {
        let isOk = confirm("정말로 삭제하겠습니까?");

        if(isOk) {
            let form = document.getElementById('form-modify');
            form.action = '/board/delete';
            form.submit();
        }
    }

    backButton.onclick = function() {
        window.history.back();
    }

    function submitForm() {
        let isOk = false;

        if(checkTitle() && checkContent()) {
            isOk = true;
        }

        if(isOk) {
            let form = document.getElementById('form-modify');
            form.submit();
        }
    }

    function checkTitle() {
        let title = document.getElementById('title').value;

        if(title === "") {
            alert("제목을 입력해 주세요.");
            return false;
        }

        return true;
    }

    function checkContent() {
        let content = document.getElementById('content').value;

        if(content === "") {
            alert("내용을 입력해 주세요.");
            return false;
        }

        return true;
    }
</script>
</body>
</html>