<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head ('Board Modify')}">
</head>
<body>
    <!-- header -->
    <header th:replace="~{layout/common :: common-header}">
    </header>

    <!-- main -->
    <div class="container">
        <!-- title section -->
        <div class="text-center mb-3">
            <h3>Board Modify</h3>
        </div>
        <!-- modify section -->
        <div class="mb-3">
            <form class="container mb-3" id="form-modify" method="POST" th:action="@{~/board/modify}">
                <input type="hidden" id="id" name="id" th:value="${dto.getId()}">
                <div class="form-floating mb-3">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" maxlength="255" placeholder="Title" th:value="${dto.title}">
                </div>
                <div class="form-floating mb-3">
                    <label for="writer">Writer</label>
                    <input class="form-control" type="text" id="writer" name="writer" maxlength="255" th:value="${dto.writer}">
                </div>
                <div class="mb-3">
                    <label for="content">Content</label>
                    <textarea class="form-control" id="content" name="content" maxlength="255" placeholder="Content" th:text="${dto.content}"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="button" id="btn-modify">Modify Post</button>
                    <button class="btn btn-danger" type="button" id="btn-delete">Delete Post</button>
                    <button class="btn btn-dark" type="button" id="btn-back">Back</button>
                </div>
            </form>
        </div>
    </div>

<!-- footer -->
<footer th:replace="~{layout/common :: common-footer}">
</footer>

<!-- page script -->
<script>
    const modifyButton = document.getElementById('btn-modify');
    const deleteButton = document.getElementById('btn-delete');
    const backButton = document.getElementById('btn-back');
    let editor;

    ClassicEditor
        .create(document.querySelector("#content"))
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.log(error);
        });

    modifyButton.onclick = function() {
        submitForm();
    }

    deleteButton.onclick = function() {
        let isOk = confirm("Wanna delete this post?");

        if(isOk) {
            let form = document.getElementById('form-modify');
            form.action = '/board/delete';
            form.submit();
        }
    }

    backButton.onclick = function() {
        window.history.back();
    }

    function submitForm() {
        let isOk = false;

        if(checkTitle() && checkContent()) {
            isOk = true;
        }

        if(isOk) {
            let form = document.getElementById('form-modify');
            form.submit();
        }
    }

    function checkTitle() {
        const title = document.getElementById('title').value;

        if(title === "") {
            alert("Please enter the post title.");
            return false;
        }

        return true;
    }

    function checkContent() {
        const content = editor.getData();

        if(content === "") {
            alert("Please enter the post content.");
            return false;
        }

        return true;
    }
</script>
</body>
</html>