<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <h3>게시물 조회</h3>
    </div>
    <div>
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" th:value="${dto.title}" readonly>
        </div>
        <div>
            <label for="writer">작성자</label>
            <input type="text" id="writer" th:value="${dto.writer}" readonly>
        </div>
        <div>
            <label for="content">내용</label>
            <textarea id="content" th:text="${dto.content}" readonly></textarea>
        </div>
    </div>
</div>
</body>
</html>