<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head ('Board Read')}">
</head>
<body>
    <!-- Header -->
    <header th:replace="~{layout/common :: common-header}">
    </header>

    <!-- main -->
    <div class="container">
        <!-- title section -->
        <div class="text-center mb-3">
            <h3>Board Read</h3>
        </div>
        <!-- read form -->
        <div class="mb-3">
            <div class="form-floating mb-3">
                <input class="form-control" type="text" id="title" th:value="${dto.title}" readonly>
                <label for="title">Title</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" id="writer" th:value="${dto.writer}" readonly>
                <label for="writer">Author</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="text" id="view" th:value="${dto.view}" readonly>
                <label for="view">Views</label>
            </div>
            <div class="mb-3" th:utext="${dto.content}">
            </div>
        </div>
        <div>
            <button class="btn btn-primary" type="button" id="btn-modify">Modify</button>
            <button class="btn btn-dark" type="button" id="btn-back">Go Back</button>
        </div>
    </div>

<!-- hidden -->
<input type="hidden" id="id" th:value="${dto.id}">

<!-- Footer -->
<footer th:replace="~{layout/common :: common-footer}">
</footer>

<!-- Script -->
<script>
    const backButton = document.getElementById('btn-back');
    const modifyButton = document.getElementById('btn-modify');

    backButton.onclick = function() {
        goBackPage();
    }

    modifyButton.onclick = function() {
        goModifyPage();
    }

    function goBackPage() {
        window.history.back();
    }

    function goModifyPage() {
        let id = document.getElementById('id').value;
        location.href = "modify?id=" + encodeURI(id);
    }
</script>
</body>
</html>