<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head ('Book\'s Pub :: 게시글 수정')}">
</head>
<body>
    <!-- 헤더 영역 -->
    <header th:replace="~{layout/common :: common-header}">
    </header>

    <!-- 메인 영역 -->
    <div class="container">
        <div class="mb-3 mt-3">
            <form class="container mb-3" id="form-modify" method="POST" th:action="@{~/article/modify}">
                <input type="hidden" id="id" name="id" th:value="${dto.getId()}">
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="title" name="title" maxlength="255" placeholder="제목" th:value="${dto.title}">
                    <label for="title">제목</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="writer" name="writer" maxlength="255" placeholder="작성자" th:value="${dto.writer}">
                    <label for="writer">작성자</label>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="content" name="content" maxlength="255" placeholder="내용" th:text="${dto.content}"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="button" id="btn-modify">글 수정</button>
                    <button class="btn btn-danger" type="button" id="btn-delete">글 삭제</button>
                    <button class="btn btn-dark" type="button" id="btn-back">뒤로가기</button>
                </div>
            </form>
        </div>
    </div>

<!-- 푸터 영역 -->
<footer th:replace="~{layout/common :: common-footer}">
</footer>

<!-- 페이지 스크립트 -->
<script>
    const modifyButton = document.getElementById('btn-modify');
    const deleteButton = document.getElementById('btn-delete');
    const backButton = document.getElementById('btn-back');
    let editor;

    ClassicEditor
        .create(document.querySelector("#content"))
        .then(newEditor => {
            editor = newEditor;
        })
        .catch(error => {
            console.log(error);
        });

    modifyButton.onclick = function() {
        submitForm();
    }

    deleteButton.onclick = function() {
        let isOk = confirm("이 글을 정말로 삭제하겠습니까?");

        if(isOk) {
            let form = document.getElementById('form-modify');
            form.action = '/article/delete';
            form.submit();
        }
    }

    backButton.onclick = function() {
        window.history.back();
    }

    function submitForm() {
        if (checkIsNotNull()) {
            const form = document.getElementById('form-modify');
            form.submit();
        }
    }

    function checkIsNotNull() {
        const title = document.getElementById('title').value;
        const content = document.getElementById('content').value;

        if (title === '') {
            alert('제목은 비워둘 수 없습니다.');
            return false;
        }
        if (content === '') {
            alert('내용은 비워둘 수 없습니다.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>