<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head ('Board Read')}">
</head>
<body>
    <!-- header -->
    <header th:replace="~{layout/common :: common-header}">
    </header>

    <!-- main -->
    <div class="container">
        <!-- title section -->
        <div class="text-center mb-3">
            <h3>Write Article</h3>
        </div>
        <!-- write form -->
        <div class="mb-3">
            <form class="container mb-3" id="form-write" method="POST" th:action="@{~/article/write}">
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="title" name="title" maxlength="255" placeholder="Title">
                    <label for="title">Title</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="text" id="writer" name="writer" maxlength="255" placeholder="Writer">
                    <label for="writer">Writer</label>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="content" name="content"></textarea>
                </div>
            </form>
            <div class="mb-3">
                <button class="btn btn-primary" type="button" id="btn-write">Write Post</button>
                <button class="btn btn-dark" type="button" id="btn-back">Back</button>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer th:replace="~{layout/common :: common-footer}">
    </footer>

    <!-- page script -->
    <script>
        const writeButton = document.getElementById('btn-write');
        const backButton = document.getElementById('btn-back');
        let editor;

        ClassicEditor
            .create(document.querySelector("#content"))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.log(error);
            });

        writeButton.onclick = function() {
            submitForm();
        }

        backButton.onclick = function() {
            window.history.back();
        }

        function submitForm() {
            let isOk = false;

            if(checkTitle() && checkContent() && checkWriter()) {
                isOk = true;
            }

            if(isOk) {
                let form = document.getElementById('form-write');
                form.submit();
            }
        }

        function checkTitle() {
            const title = document.getElementById('title').value;

            if(title === "") {
                alert("Please enter the post title.");
                return false;
            }

            return true;
        }

        function checkContent() {
            const content = editor.getData();

            if(content === "") {
                alert("Please enter the post content.");
                return false;
            }

            return true;
        }

        function checkWriter() {
            const writer = document.getElementById('writer').value;

            if(writer === "") {
                alert("Please enter the post writer.");
                return false;
            }

            return true;
        }
    </script>
</body>
</html>