<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common :: common-head ('Error page')}">
</head>
<body>
    <!-- header -->
    <header th:replace="~{layout/common :: common-header}">
    </header>

    <!-- main -->
    <div class="container">
        <!-- title section -->
        <div class="text-center mb-3">
            <h3>something error occur.</h3>
        </div>
    </div>

    <!-- footer -->
    <footer th:replace="~{layout/common :: common-footer}">
    </footer>

    <!-- page script -->
    <script>
    </script>
</body>
</html>